*{
    margin: 0%;
    box-sizing: border-box;
}
.nbar{
    background-color: #202020;
    text-align: center;
    

}
.nbar a{
    text-decoration: none;
    color: white;
    padding: 1%;
}
.wrap1{
    display: flex;  
    
}
.wrap2{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}

.box1{
    border: 1px solid gray;
   width: 10%;
   margin-left: 10%;
}

.box2{   
 padding-left: 20%;
 padding-right: 20%;
}
.box1 a{
    vertical-align: middle;
}
.box3{
    border: 1px solid gray;
display: flex;
}

.scroll{
    background-color: #151515;
    
    display: flex;
    justify-content: center;
   
   
}
.scroll a{
    text-decoration: none;
    color: white;
    padding-top: 1%;
}
.fa-solid{
    color: white;
}
.box3sub2{
    border: 1px solid gray;
width: 25%;
}

.box3sub1{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.box3 img{
    margin-top: 20%;
}
.fa-solid{
   font-size: 20px;
margin-top: 50%;
}
/*  */
.images{
    display: flex;
    gap: 1%;
    justify-content: center;
}
.images img{
    width: 11%;
}
/*  */
.para{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.para1{
    display: flex;
    gap: 20%;
    margin-top: 1%;
}
.para p{
    width: 10.7%;
    
}
/*  */
.gridm{
    display: flex;
    
}
.gridf{
   
    width: 55%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    
  
}
.grid1 img{
   width: 50%;
   
}
.grid2 h6{
    color: gray;
    font-weight: bold;
    
 }
.grids{
    border:1px solid red ;
    width: 30%;
    display: flex;
    flex-direction: column;
margin-left: 5%;
}
.grid1{
    display: flex;
   
}
.grid2{
display: flex;
flex-direction: column;
margin-left: 4%;

}

.grid1 p{
    font-size: 20px;
    font-weight: bold;
}
.grid3 img{
    object-fit: contain;
    width: 20%;
   margin-bottom: 15%;


}
.grid3{
   display: flex;
    
}
.grid4{
    display: flex;
    flex-direction: column; 
    margin-left: 4%;
    width: 40%;
    
}
.grid4 p{
    font-weight: bold;
    font-size: 15px;
    
}
.grid4 h6{
    color: gray;
    font-weight: bold;
    
 }
